@{
    Layout = null;
}
@model User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="d-flex justify-content-center align-items-center">
    <!-- Registration 6 - Bootstrap Brain Component -->
    <section class="bg-primary w-100 d-flex justify-content-center align-items-center pt-3">
        <div class="container w-75 vh-100 mt-2 ">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                    <div class="card border-0 shadow-sm rounded-4">
                        <div class="card-body p-5 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <h2 class="h3">Login</h2>
                                        <h3 class="fs-6 fw-normal text-secondary ">Enter your details to Login</h3>
                                    </div>
                                </div>
                            </div>
                            <form asp-controller="Users" asp-action="Login">
                                <div class="row gy-3 overflow-hidden">
                                    <div class="col-12">
                                        <div class="form-floating mb-3 text-danger">
                                            @ViewBag.Error
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Email" class="form-control" id="email" value="" placeholder="gmail.com" required>
                                            <label asp-for="Email" class="form-label">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Password" class="form-control" id="password" value="" placeholder="Password" required>
                                            <label asp-for="Password" class="form-label">Password</label>
                                        </div>
                                    </div>
                                   
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button class="btn bsb-btn-2xl btn-primary" type="submit">Login </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <hr class=" mb-4 border-secondary-subtle">
                                    <p class="m-0 text-secondary text-center">Don't have an account? <a href="/Users/Register" class="link-primary text-decoration-none">Sign up</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
